@import url('https://fonts.googleapis.com/css?family=Teko:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:800|Open+Sans');
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
h2 {
  font-family: 'Arima Madurai', cursive;
  color: #b10a08;;

}
h4 { 
  font-family: 'Teko', sans-serif;
  color: #b10a08;;
}
label {
	font-family: 'Open Sans', sans-serif;
}
button {
  width: 100%;
  background: #22222b;
	color: white;
}
.navbar {
  margin-bottom: 0;
}
.navbar-header {
	width: 50%;
  float: left;
}
.navbar-right {
	margin: 0;
}
.navbar-right form .form-row {
	padding: 15px 15px;
}
.navbar-right .register {
	margin-right: 20px;
}
.navigation {
  background: #22222b;
	color: white;
	position: fixed;
	width: 100%;
	z-index: 99;
	height: 11vh;
}
.navigation .navbar-right input {
	width: 90%;
}
.navigation button {
	background: #a10d0c;
}
.navbar-brand{
  height: 70px;
}
.navbar-brand img {
  width: 80%;
}
.registration {
	height: 89vh;
	margin-top: 10vh;
}
#myCarousel .carousel-inner .item {
	height: 90vh;
}
#myCarousel .carousel-inner .item img {
	max-height: 100%;
}
.carousel-inner {
	height: 100%;
}
.card {
  flex: 0 0 auto;
  border-radius: 5px;
  background: white;
  padding: 10px;
}
.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.reg-form .form-row div {
  width: 48%;
}
.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0px -15px;
  padding: 2%;
}
.stats i {
  color: #2d2077;
  width: 100%;
  font-size: 30px;
}
.more-stats {
	height: 100vh;
}
.more-stats .stats {
  background: white;
}
#page {
  margin: 0px -15px;
  overflow:hidden;
  white-space:nowrap;
  position:relative;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#ece7e7;
  display:flex;
  flex-wrap:no-wrap;
	height: 90vh;
}
.pane {
  flex:0 0 100vw;
  height:100vh;
  display:flex;
  position:relative;
  align-items:center;
  justify-content:center;
/*  background-color: #22222b;*/
	color: black;
}
.pane div {
	margin: 0% 5%;
}

.pane:last-child .start-now {
	margin-top: 10vh;
}
.pane:last-child a {
	cursor: pointer;
	color: white;
	background: #a10d0c;
}
#footer {
	position: absolute;
	padding: 5px;
	left: 0;
	bottom: 0;
	height: 10vh;
/*	background: #22222b;*/
	width: 102%;
	color: black;
	margin: 0px -15px;

}